/* 基础样式 */

/* 阿里图标库 */
@font-face {
  font-family: 'iconfont';  /* project id 1721327 */
  src: url('//at.alicdn.com/t/font_1721327_rm1gkm7eold.eot');
  src: url('//at.alicdn.com/t/font_1721327_rm1gkm7eold.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1721327_rm1gkm7eold.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1721327_rm1gkm7eold.woff') format('woff'),
  url('//at.alicdn.com/t/font_1721327_rm1gkm7eold.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1721327_rm1gkm7eold.svg#iconfont') format('svg');
}
/* 图标 */
.icon{
	font-family: iconfont;
	font-size: 24px;
}

/* 颜色 */
.color-blue{
	color:#504AF2;
}
.color-black{
	color:#474443;
}
.color-white{
	color:#ffffff;
}
.color-red{
	color:#EB795B;
}

/* 加粗 */
.blod{
	font-weight: bold;
}

/* 行列转换 */
.inline{
	display: inline-block;
}

/* 边距 */
.mb {
	margin-bottom: 150upx;
}


/* 按钮 */
button.primary {
	background-color: #504AF2;
}
/* 底部按钮 */
.btn-bottom {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

/* GoodsNav 商品导航 */
.goods-carts {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
