/* 基础样式 */

/* 阿里图标库 */
@font-face {
  font-family: 'iconfont';  /* project id 1721327 */
  src: url('https://at.alicdn.com/t/font_1721327_dfdfsmn7xsi.eot');
  src: url('https://at.alicdn.com/t/font_1721327_dfdfsmn7xsi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1721327_dfdfsmn7xsi.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1721327_dfdfsmn7xsi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1721327_dfdfsmn7xsi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1721327_dfdfsmn7xsi.svg#iconfont') format('svg');
}
/* 图标 */
.icon{
	font-family: iconfont;
	font-size: 24px;
}

/*主色调*/
.main-color{
	color:#409EFF;
}
.bg-main-color{
	background-color: #409EFF;
}
.bg-second-color{
	background-color: #46D359;
}
.bg-gray-color{
	background-color: #E3E0D5;
}
.bg-qgray-color{
	background-color: #EBEBEB;
}
/* 颜色 */
.color-blue{
	color:#409EFF;
}
.color-black{
	color:#474443;
}
.color-white{
	color:#ffffff;
}
.color-red{
	color:#EB795B;
}
.color-gray{
	color: #EFEFEA;
}
.color-disable{
	color: #c0c0c0;
}

/*常用位置*/
.positon-relative{
	position: relative;
}


/*文字位置*/
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
/* 加粗 */
.blod{
	font-weight: bold;
}

/*字体大小*/
.fon14{
	font-size: 14px;
}
.fon16{
	font-size: 16px;
}

/* 行列转换 */
.inline{
	display: inline-block;
}

/* 边距 */
.mb {
	margin-bottom: 150upx;
}


/* 按钮 */
button.primary {
	background-color: #409EFF;
}
/* 底部按钮 */
.btn-bottom {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

/* GoodsNav 商品导航 */
.goods-carts {
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
