/*全局设置*/
body{margin: 0;padding: 0; font-size:0.95em;overflow: hidden;}

/*登录背景图片*/
.loginbg{background-image: url(../image/loginbg.png); background-size: 100% 100%;}

/*颜色*/
.color-white{color:#fff;}


/*字体大小*/
.font2{font-size: 2em;}
.font25{font-size: 2.5em;}
.font30{font-size: 3em;}

/*间距*/
.m0{margin: 0;}
.mp0{margin: 0;padding: 0;}

/*浮动*/
.fr{float: right;}


/* 主体卡片容器 */
.main-card{
	margin: 1rem;
}
